{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
     <img src="https://picsum.photos/id/119/900/300"  alt="test" class="w-100 img-responsive">
</div>

<div class="container px-5 py-5">
    <form method="post" action="/contact" class="px-5 py-5">
        {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name </label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone</label>
      <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter Phone">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
        </form>
</div>
{% endblock body %}